*{
  box-sizing: border-box;
  font-size: 50px;
}
body{

  width:400px;
  border: 1px solid black;
}

.row0{
  color: white;
  text-align: right;
  background-color: black;
  height: 80px;
}

.row{
  display:flex;
  height:80px;
}

.clear{
  width:50%
}

.backspace{
  width:25%;
}

.result:hover{
  background-color: white;
  font-weight: bold;
}

.result:active{
  background-color: grey;
}

.symbol{
  width:25%;
}

.symbol:hover{
  background-color: white;
  font-weight: bold;
}

.symbol:active{
  background-color: grey;
}

.number{
  width:25%;
  background-color: orange;
}

.number:hover{
  background-color: yellow;
  font-weight: bold;
}

.number:active{
  background-color: pink;
}

.equal{
  width:75%;
}
